@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap");
html, body {
  font-family: 'Open Sans', Helvetica, Arial;
  line-height: 1.4;
  font-size: 16px;
  color: #111;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

img {
  user-select: none;
}

section {
  padding: 0 10%;
}

.hero {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2621168/bg_copy.jpg");
  background-size: cover;
  padding: 16% 50% 16% 10%;
  color: #fff;
  width: 100%;
}

.hero__heading {
  margin-bottom: 1rem;
}

.hero__heading h2 {
  font-size: 2.1rem;
  text-transform: capitalize;
  letter-spacing: 1px;
}

.hero__heading h2:first-of-type {
  text-transform: uppercase;
  font-size: 1.6rem;
  letter-spacing: 2px;
}

.hero__desc {
  margin-bottom: 1.2rem;
}

.hero__button {
  text-transform: uppercase;
  border: none;
  outline: none !important;
  letter-spacing: 2px;
  background: rgb(255, 145, 0);
  padding: 12px 15px;
  color: inherit;
  font-size: .8rem;
  transition: .2s ease-in-out;
  text-decoration: none;
}

.hero__button:hover {
  background: rgb(255, 115, 0);
}

.fruits {
  padding: 5% 15%;
}

.fruit {
  display: flex;
  /* height: 400px; */
  margin: 50px 0;
  justify-content: space-between;
}

.fruit__img {
  height: 70vw;
  max-height: 350px;
  margin-right: 10%;
}

.fruit:nth-child(2) .fruit__img {
  margin-left: 10%;
}

.fruit__text {
  margin-top: 30px;
}

.fruit__heading {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  font-weight: 300;
}

.fruit:nth-child(2) .fruit__text {
  text-align: right;
}

@media (max-width: 900px) {
  .fruits {
    padding: 5% 7%;
  }
  .fruit__img {
    margin-right: 7%;
  }
  .fruit:nth-child(2) .fruit__img {
    margin-left: 7%;
  }
}

@media (max-width: 700px) {
  .fruit {
    flex-direction: column;
    align-items: center;
  }
  .fruit__img {
    order: 1;
    margin: 0 !important;
  }
  .fruit__text {
    text-align: justify !important;
    margin: 0 auto 30px;
  }
  footer {
    flex-direction: column;
  }
  .form {
    margin-bottom: 30px;
  }
}

@media (max-width: 500px) {
  html, body {
    font-size: 12px;
  }
  .hero {
    padding: 15% 10%;
  }
  .hero__heading h2:first-of-type {
    font-size: 2.1rem;
    text-transform: capitalize;
    letter-spacing: 1px;
  }
}

footer {
  background: #333;
  color: #eee;
  display: flex;
  padding: 30px 40px;
  display: flex;
}

.form {
  flex: 1;
  display: flex;
  flex-direction: column;
  /* margin-right: 20%; */
}

.form label {
  font-size: 1.1rem;
  margin-bottom: 4px;
  margin-top: 7px;
}

.form label:first-of-type {
  margin-top: 0;
}

.form input {
  height: 30px;
}

.form textarea {
  margin-bottom: 1rem;
  height: 60px;
  resize: none;
}

.form button {
  /* height: 30px; */
  padding: 6px 12px;
  font-size: 1rem;
  width: 120px;
  border: 1px solid #eee;
  color: inherit;
  background: transparent;
  outline: none !important;
  transition: .2s ease-in-out;
  border-radius: 4px;
}

.form button:hover, .form button:active {
  background: #fff;
  color: #333;
}

.form__field {
  max-width: 235px;
  width: 100%;
  border-radius: 4px;
  outline: none !important;
  border: none;
}

.contacts {
  flex: 1
}

.contacts a {
  text-decoration: none;
  color: #eee;
}

.contacts a:hover {
  text-decoration: underline;
}

.medium {
  height: 30px;
  filter: invert(1);
  margin: 10px 2px;
}